body {background-image: url("background.jpg")}
h1 {
  color: Salmon
}
h2 {
  color: SteelBlue
}
#ozzy{
  transform: rotate(90deg);
}
#raft{
  display:none;
  height: 50px;
  width: 50px;
}
/* img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  } */
